body {
    background-color: rgb(211, 129, 14);
    margin: 0;
}


/* Main Content */

.city{
    font-size: 30px;
    text-align: center;
    color: rgb(247, 239, 193);
    padding: 25px 0 0 0;
    font-weight: 900;

}
.day-of-the-week{
    text-align: center;
    font-size: 25px;
    color: rgb(245, 236, 187);    
    font-weight: 100;
    padding: 20px 0;
}
.degree{
    font-size: 80px;
    color: rgb(245, 236, 187);
    text-align: center;
    padding: 20px 0 0 0;
    margin: 80px 0 0 0;
}
.week-days .day .degree {
    font-size: 40px;;
    margin-top: 10px;
}
.condition{
    text-align: center;
    color: rgb(245, 236, 187);
}
.icon-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;    
}
.icon {
    text-align: center;
}
.week-days {    
    display: flex;
    flex-direction: row;
    height: 80%;
}

.week-days .today {
    width: 30%;
}

.week-days .day {
    flex-grow: 1;
}

.week-days .day:nth-child(2) {
    background: rgb(197, 119, 10);;
}

.week-days .day:nth-child(3) {
    background: rgb(184, 111, 9);;
}

.week-days .day:nth-child(4) {
    background: rgb(161, 97, 6);;
}

.week-days .day:nth-child(5) {
    background: rgb(143, 84, 3);;
}

.week-days .day:nth-child(6) {
    background: rgb(119, 70, 1);;
}

.week-days .day:nth-child(7) {
    background: rgb(110, 65, 1);;
}

.week-days .day:nth-child(8) {
    background: rgb(94, 55, 0);;
}


/* Bottom section */
.city-name {
    position: relative;
    margin: 10px 20px;
}
.city-name input {
    width: 100%;
    padding: 30px;
    border: 1px solid rgb(247, 239, 193);;
    background: transparent;
    border-radius: 4px;
    font-size: xx-large;
    color: rgb(247, 239, 193);;
}

.city-name span {
    position: absolute;
    color: rgb(247, 239, 193);;
    top: -10px;
    left: 20px;
    background: rgb(211, 129, 14);
    padding: 0 20px;

}

